footer{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 0 30px;
    color: white;
}

footer .top{
    border-bottom: 2px solid white;
    padding-bottom: 20px;
}

footer .top .links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

footer .bottom {
    padding: 20px 0;
    justify-content: space-between;
}

footer .links > div {
    display: grid;
    gap: 10px;
    margin-bottom: 30px;
}

footer h2{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

