/* FOOTERS LINKS FORMATOS Y COLORES */
/* Color de letra de footer */
footer
{
    margin: 0 30px;
    color:
    rgb(1, 0, 0 / 50%);
}

/* esta es la perte superior de nuestro footer  */
footer.top
{
    position: relative;
    display: grid;
    border-bottom: 
    2px solid
    rgb(136, 0, 0); /*colores*/
    padding-bottom: 20px;
}

/* establece un margen para las imagenes de mi clase .top de 50 pixeles y los margenes 
izquierdo y derecho se ajustaran automaticamente dentro de mi contenedor */
footer.top > img
{
    height: 50px;
    margin: 0 auto 50px;
}

/*  esto crea un margen a los links relacionados en el footer y 
les agrega un margen de 30 px*/
footer .top .links
{
    display:grid;
    grid-template-columns: 
        repeat(1, 1fr);
    gap: 30px;
    margin-bottom: 30px;
}

/* espacio entre los links de 10px  y se centra el texto bajo la imagen (centrado)*/
footer.top.links-column
{
    display: grid;
    gap: 10px;
    text-align: center;
}

/* formato de la letra del texto acorde a los links de interés */
footer.top h2
{
    margin: 0 0 10px;
    font-size: 12px;
    font-weight: 1000; /*Grosor de la fuente (letra)*/
    text-transform: uppercase;
    letter-spacing: 1px;
    color:
        rgba(0, 0, 0, 0.96); /*colores*/
}


/* margen superior del parrafo en el footer */
footer.top p
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.pie{
    width: 100%;
    background-color: #393e46;
}
  
.pie .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie .grupo-1 .caja figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie .grupo-1 .caja figure img{
    width: 250px;
}

.pie .grupo-1 .caja h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie .grupo-1 .caja p{
    color: white;
    margin-bottom: 10px;
}

.pie .grupo-1 .redes a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
}

footer
{
    background-color:
    rgba(250, 178, 237, 0.5);
}

@media screen and (max-width:800px) {
    .pie .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    
}